<div style="display: flex;height: 750px; justify-content: center; align-items: center;">
  <div class="myCalc">
    <input [(ngModel)] = "toshow" type="text" disabled>
    <input [(ngModel)] = "result" type="text" disabled>
    <div class="btn-clear-back">
      <button (click)="clear()">C</button>
      <button (click)="back()">⌫</button>
    </div>
    <div class="btn-unary">
          <button (click)="unaryOper('%')">%</button>
        <button (click)="unaryOper('1/x')">1/x</button>
        <button (click)="unaryOper('√x')">√x</button>
        <button (click)="unaryOper('x²')">x²</button>
        </div>
    <div class="all-btn">
      <div class="all-btn-numbers">
        <button (click)="writetoinput('7')">7</button>
        <button (click)="writetoinput('8')">8</button>
        <button (click)="writetoinput('9')">9</button>
        <button (click)="writetoinput('4')">4</button>
        <button (click)="writetoinput('5')">5</button>
        <button (click)="writetoinput('6')">6</button>
        <button (click)="writetoinput('1')">1</button>
        <button (click)="writetoinput('2')">2</button>
        <button (click)="writetoinput('3')">3</button>
        <button (click)="unaryOper('+/-')" style="background-color: yellow;">+/-</button>
        <button (click)="writetoinput('0')">0</button>
        <div class="btn-point">
          <button (click)="writetoinput('.')">.</button>
        </div>
      </div>
      <div class="btn-binary">
        <button (click)="writetoinput('&divide;')">&divide;</button>
        <button (click)="writetoinput('&times;')">&times;</button>
        <button (click)="writetoinput('-')">-</button>
        <button (click)="writetoinput('+')">+</button>
      </div>
      
      </div>
      <div class="btn-equals">
        <button (click)="equals()" style="background-color: lightgreen;">=</button>
    </div>
    
    
  </div>
</div>